<!DOCTYPE html>
<html>
	<head>
		<title>Trends Page</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/bootstrap.css')}}">
    {% set navigation_bar = [
    ('/', 'index', 'Trends'),
    ('/about', 'about', 'Authors'),
    ('/background', 'background', 'Background')
] -%}
  
{% set active_page = active_page|default('index') -%}
  	</head>
  	<body>
      <header>
        <div class = 'nav nav-pills'>
          {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif
    %}><a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
{% endfor %}
        </div>
    </header>
  			<div class = 'container'>
  			{% block content%}
        {% endblock %}
  			</div>
     
  	</body>
    </html>
